<li class="item">
  <p>
  {{#if this.displayName}}
    <strong>{{this.displayName}}</strong>
  {{else}}
    <strong>{{@key}}</strong>
  {{/if}}
  <em>
  : {{#if this.enum~}} one of ({{this.enum}}){{else}}{{this.type}}{{~/if}}
    {{~#if this.required~}}, required{{~/if~}}
    {{~#if this.default~}}, default: {{this.default}}{{~/if~}}
    {{~#if this.repeat~}}, repeat: {{this.repeat}}{{~/if~}}
    {{~#if this.minLength~}}, minLength: {{this.minLength}}{{~/if~}}
    {{~#if this.maxLength~}}, maxLength: {{this.maxLength}}{{~/if~}}
    {{~#if this.minimum~}}, minimum: {{this.minimum}}{{~/if~}}
    {{~#if this.maximum~}}, maximum: {{this.maximum}}{{~/if~}}
    {{~#if this.pattern~}}, pattern: {{this.pattern}}{{~/if~}}
  </em>
  </p>
  {{md description}}
  {{#if this.schema}}
    <p>Schema</p>
    <pre><code>{{~this.schema~}}</code></pre>
  {{/if}}
  {{#if this.example}}
    <p>Example</p>
    <pre><code>{{~this.example~}}</code></pre>
  {{/if}}
</li>